.~*
*.swp
*.class
*.log
.idea/
data/
*.DS_Store
/target/
.classpath
.project
.settings/
META-INF/
java_design_pattern_test/
lang
.gradle
build
gen
#libs
*.iml
result
local.properties
project.properties
settings.gradle