.~*
*.swp
*.class
*.log
.idea/
out/
data/
*.DS_Store
/target/
.classpath
.project
.settings/
META-INF/
output/
java_design_pattern_test/
lang
gen
.gradle
#libs
*.iml
local.properties
project.properties
settings.gradle